:root {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    font-family: Inter, sans-serif;
    color: #02020B;
}

header {
    background-color: #E6AA68;
    display: flex;
    justify-content: center;
}

header h1 {
    text-shadow: 1px 1px 2px #D36135;
}

main {
    background-color: #ECE4B7;
    display: flex;
    justify-content: center;
}

.card-container {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.card {
    background-color: #E6AA68;
    padding: 8px;
    min-width: 200px;
    min-height: 200px;
}

footer {
    background-color: #E6AA68;
    
}