:root {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    font-family: Inter, sans-serif;
    color: #02020B;
}

header {
    background-color: #E6AA68;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
}

.logo h1 {
    text-shadow: 1px 1px 2px #D36135;
}

#plus button {
    background-color: rgba(255, 0, 0, 0);
    border-style: none;
}

#plus h1 {
    color: #D36135;
}


main {
    background-color: #ECE4B7;
    display: flex;
    justify-content: center;
}

.card-container {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.card {
    background-color: #E6AA68;
    padding: 8px;
    min-width: 200px;
    min-height: 200px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.remove {
    color: rgb(126, 16, 16);
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-weight: bold;
}

dialog {
    background-color: #E6AA68;
    border-style: none;
    border-radius: 4px;
}

dialog fieldset {
    display: grid;
    border-style: none;
}

dialog fieldset > * {
    margin: 4px;
}

dialog fieldset input {
    padding: 4px;
}

dialog fieldset input,
dialog button {
    border-style: none;
}

dialog button {
    border-radius: 6px;
    background-color: #D36135;
    color: white;
    padding: 8px;
}


.error {
    color: white;
    background-color: rgb(149, 47, 47);
    border-radius: 4px;
    display: none;
}

footer {
    background-color: #E6AA68;
    
}


